/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;0,800;1,300;1,400;1,800&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* General Classes */
ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.flex {
    display: flex;
}

.hero-wrapper {
    width: 60%;
    margin: 0 auto;
}

.container {
    width: 50%;
    margin: 0 auto;
}

/* Header */

header .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

header ul li {
    margin-left: 1rem;
}

/* Main */

/* Hero */
#hero {
    background-color: rgb(180, 208, 231);
}

.hero-wrapper h1 {
    font-size: 70px;
    font-weight: 900;
}

.content-wrapper .content {
    width: 40%;
}

.content-wrapper .content-img {
    width: 60%;
}

.hero-img {
    height: 400px;
}

/* Dropbox Partner */
.partner-wrapper .content-img {
    width: 50%;
}

.partner-wrapper .content-img img {
    width: 100%;
}


.partner-wrapper .content {
    width: 50%;
}
