/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;0,800;1,300;1,400;1,800&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* General Classes */
ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.flex {
    display: flex;
}

.hero-wrapper,
.footer-wrapper {
    width: 55%;
    margin: 0 auto;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.button {
    border: none;
    padding: 0.8rem 1rem;
    font-size: 18px;
    background-color: white;
}

.button:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.button-blue {
    background-color: rgb(0, 97, 255);
    color: white;
}

.button-white {
    border: 1px solid black;
}

.divider {
    width: 60px;
    height: 1px;
    background-color: rgb(208, 208, 211);
    margin: 2rem 0;
}

/* Header */
header {
    height: 80px;
}

header ul {
    align-items: center;
    height: 100%;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

header .wrapper > nav {
    height: 100%;
}

header .wrapper .logo {
    vertical-align: middle;
}

header .wrapper > .main-nav > ul > li,
header .user-wrapper > ul > li {
    margin-left: 1.5rem;
    height: 100%;
    line-height: 80px;
    vertical-align: middle;
}

.user-wrapper {
    height: 100%;
}

.user-wrapper ul li a > button {
    padding: 0.5rem 1rem;
}

.list-hover:hover {
    border-bottom: 3px solid black;
}

/* DropDown Menu */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 1.5rem 1rem;
}

.dropdown-left {
    right: 0;
}

.dropdown-right {
    left: 0;
}

.dropdown-nav {
    flex-wrap: wrap;
}

.dropdown-nav .left-list,
.dropdown-nav .right-list {
   width: 50%;
}

.dropdown-nav .left-list ul li,
.dropdown-nav .right-list ul li {
    line-height: normal;
    padding-bottom: 1rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Hero */
#hero {
    background-color: rgb(180, 208, 231);
    padding-top: 3rem;
}

.hero-wrapper h1 {
    font-size: 70px;
    font-weight: 900;
}

.content-wrapper .content {
    width: 30%;
    position: relative;
}

.content-wrapper .content p:first-child {
    margin-bottom: 2rem;
}

.content-wrapper .content p:last-of-type {
    margin-top: 2rem;
}

.content-wrapper .content .fa-arrow-down {
    position: absolute;
    left: 0;
    bottom: 50px;
    font-size: 50px;
    padding-bottom: 1rem;
}

.content-wrapper .content-img {
    width: 70%;
}

.content-wrapper .content-img .hero-img {
    width: 100%;
}

.content-wrapper .content,
.content-wrapper .content-img {
    position: relative;
    top: 50px;
}

/* Business Plan */
#business-plan {
    padding-top: 8rem;
}

#business-plan h2 {
    font-size: 50px;
}

#business-plan .billing-type {
    margin: 2.5rem 0;
}

#business-plan input {
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(214, 214, 216);
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 3px;
}
  
#business-plan input:checked {
    border: 5px solid rgb(0, 97, 255);
}

#business-plan input:hover {
    border-color: rgb(0, 97, 255);
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

#business-plan .billing-type label[for="monthly"] {
    margin-right: 2rem;
}

.business-wrapper {
    flex-wrap: wrap;
}
.card {
    width: calc(100% / 3 - 1rem);
    margin-right: 1rem;
    border: 1px solid rgb(208, 208, 211);
}
.card .business-type {
    border-bottom: 1px solid rgb(208, 208, 211);
    text-align: center;
    padding: 0.5rem 0;
}

.card .card-info {
    padding: 2.3rem 2rem 2.3rem 2rem;
    position: relative;
}

.card .card-info h3 {
    font-size: 25px;
    margin-bottom: 0.8rem;
}

.card .card-info .pay {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card .card-info .method-pay {
    color: rgb(102, 102, 102);
    margin-bottom: 3rem;
}

.card .card-info .users,
.card .card-info .storage {
    margin-bottom: 1rem;
}

.card .card-info .shares {
    margin-bottom: 3rem;
}

.business-wrapper .card .card-info > button {
    display: inline-block;
    width: 100%;
}
.card .card-info .buy {
    margin-top: 1.7rem;
}

.card .card-info .buy > a {
    color: blue;
    text-decoration: underline;
}

.business-highlights h4 {
    margin-bottom: 1.5rem;
}

.business-highlights ul li {
    list-style: url("../img/check.svg");
    margin-left: 1rem;
    padding-bottom: 1rem;
}

.big-card-wrapper {
    margin-top: 3rem;
}
.big-card-wrapper .card {
    width: 100%;
}

.big-card-wrapper .card .card-info > p {
    margin-top: 2.5rem;
}

.big-card-wrapper .card  button {
    position: absolute;
    top: 2.3rem;
    right: 2rem;
}

/* Dropbox Partner */
#dropbox-partner {
    margin-top: 8rem;
}

.partner-wrapper .content-img {
    width: 60%;
    padding: 1rem;
}

.partner-wrapper .content-img img {
    width: 100%;
}

.partner-wrapper .content {
    width: 40%;
    padding: 4rem;
}

.partner-wrapper .content > h3 {
    font-size: 21px;
    margin-bottom: 1rem;
}

.partner-wrapper .content > p {
    margin-bottom: 2rem;
}

/* Dropbox Feature */
#dropbox-feature {
    margin-top: 8rem;
}

#dropbox-feature > h2 {
    font-size: 50px;
    margin-bottom: 3rem;
}

.feature-wrapper {
    flex-wrap: wrap;
}

.feature-wrapper .feature {
    width: calc(100% / 3 - 2rem);
    margin-right: 2rem;
    padding: 1rem;
}

.feature-wrapper .feature > img {
    width: 100%;
}

.feature-wrapper .feature > h3 {
    font-size: 25px;
    margin-bottom: 1.5rem;
}

/* Learn more */
#learn-more {
    margin-top: 8rem;
}

#learn-more > h2 {
    font-size: 40px;
    margin-bottom: 3rem;
}

#learn-more > a {
    color: blue;
    text-decoration: underline;
}

/* Brands */
#brands {
    margin-top: 8rem;
}

#brands .main-content-wrapper {
    background-color: rgb(245, 245, 245);
    padding: 4rem;
}

#brands .main-content-wrapper > img {
    height: 100px;
}

#brands .main-content-wrapper > p:first-of-type {
    margin-bottom: 3rem;
}

#brands .main-content-wrapper > .divider {
    width: 150px;
}

#brands .main-content-wrapper {
    /* width: calc(100% / 3); */
    width: 40vw;
    height: 30vw;
}

#brands .brands-left-wrapper,
#brands .brands-right-wrapper {
    flex-wrap: wrap;
    width: 30vw;
    height: 30vw;
}

.brand-square {
    width: 50%;
    height: 50%;
    position: relative;
}

.brand-square > img {
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    object-position: center;
    /* Credits CSS filter generator by Barret Sonntag */
    filter: invert(100%) sepia(2%) saturate(7377%) hue-rotate(109deg) brightness(115%) contrast(95%);
}

/* Brands Classes */
.designit {
    background-color: rgb(162, 211, 155);
    border: 20px solid rgba(255, 255, 255, 0.3);
}

.asu {
    background-color: rgb(97, 8, 43);
}

.uf {
    background-color: rgb(0, 147, 206);
}

.topps {
    background-color: rgb(255, 28, 28);
}

.bicycle {
    background-color: rgb(213, 0, 31);
}

.hearst {
    background-color: rgb(180, 208, 231);
}   

.lonely {
    background-color: rgb(13, 36, 129);
}

.clear-channel {
    background-color: rgb(255, 216, 48);
}

/* Free trial */
#free-trial {
    background-color: rgb(180, 208, 231);
    padding: 7rem;
} 

#free-trial .free-trial-wrapper {
    justify-content: space-between;
}

#free-trial .free-trial-wrapper > h2 {
    font-size: 35px;
    color: rgb(97, 8, 43);
}

#free-trial .free-trial-wrapper > button {
    align-self: flex-start;
    padding: 0.8rem 4rem;
}

/* FAQ */
#faq {
    margin: 8rem auto;
}

#faq > h2 {
    font-size: 50px;
    margin-bottom: 3rem;
}

#faq .question {
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
    padding: 2rem 0;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: rgb(153, 153, 153);
}

#faq .question:nth-of-type(2) {
    border:none;
}

#faq .question .question-title,
#faq .question .icon {
    width: 50%;
}

#faq .question .icon {
    text-align: end;
    padding-right: 1.5rem;
}

#faq .question input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#faq .question input[type=checkbox]:checked ~ .accordion {
    max-height: 0;
    max-width: 0;
    opacity: 0;
    padding: 0;
}

#faq .accordion {
    max-height: 800px;
    opacity: 1;
    font-weight: 500;
    max-width: 80%;
    padding-top: 1rem;
    color: grey;
}

/* Footer */
footer {
    background-color: black;
    color: white;
}

.footer-wrapper {
    padding-top: 5rem;
}

.upper-footer {
    padding-bottom: 5rem;
    justify-content: center;
}

.footer-column {
    margin-right: 5rem;
    width: calc(100% / 5 - 5rem);
}

.upper-footer .footer-column > h4 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 2rem;
}

.upper-footer .footer-column ul li {
    margin-bottom: 1rem;
}

.footer-wrapper .divider {
    width: 120px;
    color: white;
}

.bottom-footer {
    padding-bottom: 3rem;
    color: rgb(153, 153, 153);
}
.bottom-footer > span {
    padding-left: 0.5rem;
}

.fa-caret-up {
    position: relative;
    top: 2px;
}



