/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;0,800;1,300;1,400;1,800&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* General Classes */
ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.flex {
    display: flex;
}

.button {
    border: none;
    padding: 0.8rem 1rem;
    font-size: 18px;
    background-color: white;
}

.button:hover {
    transform: scale(1.05);
}

.button-blue {
    background-color: rgb(0, 97, 255);
    color: white;
}

/* Header */
header {
    height: 80px;
}

header ul {
    align-items: center;
    height: 100%;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

header .wrapper > nav {
    height: 100%;
}

header .wrapper .logo {
    vertical-align: middle;
}

header .wrapper > .main-nav > ul > li,
header .user-wrapper > ul > li {
    margin-left: 1.5rem;
    height: 100%;
    line-height: 80px;
    vertical-align: middle;
}

.user-wrapper {
    height: 100%;
}

.user-wrapper ul li a > button {
    padding: 0.5rem 1rem;
}

.list-hover:hover {
    border-bottom: 3px solid black;
}

/* DropDown Menu */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 1.5rem 1rem;
}

.dropdown-left {
    right: 0;
}

.dropdown-right {
    left: 0;
}

.dropdown-nav {
    flex-wrap: wrap;
}

.dropdown-nav .left-list,
.dropdown-nav .right-list {
   width: 50%;
}

.dropdown-nav .left-list ul li,
.dropdown-nav .right-list ul li {
    line-height: normal;
    padding-bottom: 1rem;
    transition: transform 0.2s linear;
}

.dropdown-nav .left-list ul li:hover,
.dropdown-nav .right-list ul li:hover {
    transform: translateY(-0.25em);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Hero */
.hero {
    background-color: rgb(30, 25, 25);
    color: white;
}

.hero nav {
    padding: 1rem 5rem;
    border-bottom: 1px solid white;
}

.hero nav ul li {
    margin-right: 2rem;
}

.hero .hero-wrapper .main-content {
    width: 60%;
}

.hero .hero-wrapper .main-content  .img-content {
    height: 70%;
}

.hero .hero-wrapper .main-content  .img-content img {
    width: 100%;
    height: 100%;
}

.hero .hero-wrapper .main-content .text-content {
    padding: 1.5rem 8rem 5rem 4rem;
    height: 30%;
}

.hero .hero-wrapper .main-content h1 {
    font-size: 60px;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.hero .hero-wrapper .main-content p {
    font-size: 20px;
}

.hero .hero-wrapper .hero-articles {
    width: 40%;
}

.hero .hero-wrapper .hero-articles .video {
    height: 50%;
}

.hero .hero-wrapper .hero-articles .video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .hero-wrapper .hero-articles .video-text {
    height: 20%;
    padding-top: 3rem;
}

.hero .hero-wrapper .hero-articles .video-text p {
    font-size: 17px;
    margin-bottom: 1rem;
}

.hero .hero-wrapper .hero-articles .video-text h2 {
    font-size: 35px;
    font-weight: 500;
}

.hero .hero-wrapper .hero-articles article {
    border: 1px solid rgb(69, 65, 65);
    padding: 2.5rem 0 0 2rem;
}

.hero .hero-wrapper .hero-articles article .description {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 1rem;
}

.hero .hero-wrapper .hero-articles article .title {
    font-size: 25px;
}

.hero .hero-wrapper .hero-articles article.grow,
.hero .hero-wrapper .hero-articles article.secure {
    height: 15%;
}

.hero .hero-wrapper .hero-articles .video-text,
.hero .hero-wrapper .hero-articles article.grow,
.hero .hero-wrapper .hero-articles article.secure {
    padding-left: 5rem;
}

/* Wired */
.wired {
    margin-top: 10rem;
    padding-bottom: 10rem;
}

.wired .img-column {
    flex-wrap: wrap;
    position: relative;
}

.wired .img-column .img-square {
    width: 50%;
    height: 50%;
}

.wired .img-column .img-square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.wired .img-column {
    height: 50vw;
}

.wired .img-column .collab-with {
    width: 250px;
    height: 250px;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wired .img-column .collab-with img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.wired .main-column {
    padding: 5rem 10rem;
}

.wired .main-column h1 {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 3rem;
}

.wired .main-column p {
    font-size: 20px;
    margin-bottom: 3rem;
}

.wired .main-column button {
    margin-bottom: 4rem;
}

.wired .main-column img {
    display: block;
    height: 20vw;
    width: 20vw;
    position: relative;
    right: 70px;
    top: 40px;
}

.wired .img-column,
.wired .main-column {
    width: 50vw;
}







